body {
  background: url(../images/sunrise.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  
}

.card {
  display: block !important;
  color: black;
}
.savedSearches {
  width: 100%;
  text-align: left;
}

.weatherDisplay {
  margin: 0 2vw 1vw;
  font-size: 1.5vw;
  color: rgb(34, 30, 30);
}

#button-addon2 {
  color: rgb(34, 31, 31);
}
#cityDisplay {
  font-size: 2.3vw;
  margin: 2vw;
  text-shadow: 1px 1px 0 #000;
}

#header {
  text-align: center !important;
  margin: auto;
  font-size: 3vw;
}

#icon {
  height: 5vw;
}